<div class="about-container">
    <h1 class="text-center">Rólunk</h1>
    <div class="row">
      <div class="col-md-6">
        <p>Flamme egy családi kézműves gyertya márka, amelyet szenvedélyesen hozunk létre a legfinomabb anyagok felhasználásával.</p>
        <p>A gyertyák készítése több éves tapasztalaton és szereteten alapul. Mindegyik gyertya egyedi, és tükrözi a készítője kreativitását.</p>
      </div>
      <div class="col-md-6">
        <img src="assets/img/profile.jpg" class="img-fluid" alt="A gyertya készítés folyamata" />
      </div>
    </div>
    <h3 class="text-center mt-5">Miért válassz minket?</h3>
    <ul>
      <li>Kézműves, egyedi gyertyák</li>
      <li>Fenntartható és prémium minőségű alapanyagok</li>
      <li>Széles választék különböző illatokkal és színekkel</li>
      <li>Tökéletes ajándék minden alkalomra</li>
    </ul>
  </div>
  