<div class="home-banner">
  <img src="assets/img/logo.jpg" alt="Gyertyák" class="img-fluid" />
  <div class="banner-text">
    <h1>Flamme - Kézműves Gyertyák</h1>
    <p>Fedezd fel a különleges, kézzel készített gyertyákat, amelyek otthonod varázsát emelik!</p>
    <a href="/products" class="btn btn-primary">Nézd meg termékeinket</a>
  </div>
</div>

<section class="highlight-products mt-5">
  <div class="container">
    <h2 class="text-center mb-4">Miket találhatsz?</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/epres.jpg" class="card-img-top" alt="Gyertya 1" />
          <div class="card-body">
            <h5 class="card-title">Illatos Gyertya</h5>
            <p class="card-text">Friss levendula illat, ami megnyugtatja az érzékeket.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/fahej-narancs.jpg" class="card-img-top" alt="Gyertya 2" />
          <div class="card-body">
            <h5 class="card-title">Tavaszi Virágok</h5>
            <p class="card-text">Színes gyertya, amely a tavaszi hangulatot idézi meg.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/macaron.jpg" class="card-img-top" alt="Gyertya 3" />
          <div class="card-body">
            <h5 class="card-title">Meditációs Gyertya</h5>
            <p class="card-text">Fedezd fel a pihentető, meditációs hangulatot.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>